<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A maior conferência PHP do Sul do Brasil!</h2>
                <hr class="light">
                <p class="text-faded">
                    A PHPSC Conference tem como objetivo principal discutir melhores práticas sobre a tecnologia PHP e áreas co-relatas como
                    Design, Técnicas de Desenvolvimento, Banco de Dados, Software Livre etc.
                </p>
                <a href="#" class="btn btn-default btn-xl">Inscreva-se Agora!</a>
            </div>
        </div>
    </div>
</section>
