<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A maior conferência PHP do Sul do Brasil!</h2>
                <hr class="light">
                <p class="text-faded">
                    A PHPSC Conference tem como objetivo principal discutir melhores práticas sobre a tecnologia PHP e áreas co-relatas como
                    Design, Técnicas de Desenvolvimento, Banco de Dados, Software Livre etc.
                </p>
                <p>
                    O evento acontecerá na <a class="text-faded" href="">UNIASSELVI de Blumenau</a>, no dia XX/XX, marque na sua agenda!
                </p>
                <p>
                    Nossa conferência possui um <a class="text-faded" href="https://github.com/PHPSC/conf2018/blob/master/CONDUCT.md" target="_blank">código de conduta</a> e todos os participantes deverão segui-lo.
                </p>
                {% comment %} <a href="https://www.sympla.com.br/phpsc-conference-2018__290053" target="_blank" class="btn btn-default btn-xl">Inscreva-se Agora!</a> {% endcomment %}
            </div>
        </div>
    </div>
</section>
