<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Patrocínio Bronze</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center justify-content-lg-center">
            {% for sponsor in site.sponsors_bronze%}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{ sponsor.url }}" target="_blank">
                        <img src="{{ sponsor.image  | absolute_url }}"
                             alt="{{ sponsor.name }}"
                             title="{{ sponsor.name }} | {{ sponsor.text }}"
                        />
                    </a>
                    <h3><a href="{{ sponsor.url }}" target="_blank">{{ sponsor.name }}</a></h3>
                    <p class="text-muted">{{ sponsor.text }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
